asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
cryptography
daphne
Django
hyperlink
idna
incremental
Pillow
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
requests
service-identity
six
sqlparse
Twisted
txaio
typing_extensions
urllib3
zope.interface
django-cors-headers
psycopg2-binary
dj_database_url
python-decouple
gunicorn