{% extends "core/base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<h1 class="text-3xl lg:text-5xl p-6 text-center mb-8">Password Set</h1>
<p  class="max-w-md mx-auto p-4 bg-blue-200 text-center rounded shadow-md">Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>

    <footer class="bg-blue-500 text-white text-center py-4 poso absolute bottom-0 w-full">
        <div class="container mx-auto">
            <p>&copy; 2023 Mobiloitte. All Rights Reserved.</p>
        </div>
    
    </footer>
{% endblock %}